th{
	background-color: #191970;
	color: #ffff00;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 14px;	
	text-align: left;
	height: 20px;
}

td{
	background-color: #a0a0a0;
	color: #000000;
	font-family: Verdana, sans-serif;
	font-size: 11px;	
	text-align: justify;
}

select{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

input{
	background-color :#191970;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	border-style : solid;
	font-size : 11px;
	color: #ffffff;
	cursor: hand;
	border-color:#191970;
}

body{
	background-color: #c0c0c0;
	color: #000000;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

a{
	text-decoration: none;
	color: #191970;
}

a-visit{
	text-decoration: none;
	color: #0000ff;
}

.center_type{
	text-align: center;
}

.yellow_type{
	color: #ffff00;
}

.yellow_back{
	background-color: #dddddd;
}

.red_back{
	background-color: #bbbbbb;
}

.subtitle_td{
	background-color: #191970;
	color: #ffffff;
	font-family: Verdana, sans-serif;
	font-weight: bold;	
	font-size: 12px;	
	height: 17px;	
}
